name: 02 - workslow event
on: 
  push:
  pull_request:
  schedule:
    - cron: '*/15 * * * *'  # every 15 minutes
  workflow_dispatch:  
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: show the trigger
        run: echo "I have been triggered by ${{github.event_name}} event"