
name: 07 - Using Expression
on:
  push:
  workflow_dispatch:
    inputs:
      debug: 
        type: boolean
        default: false
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: '[debug] print start-up data'
        if: ${{ inputs.debug }}
        run: |
        echo "Triggered by: ${{ github.event_name }}"
        echo "Branch: ${{ github.ref }}"
        echo "commit SHA: ${{ github.sha }}"
        echo "Runner OS: ${{ runner.os }}"
      - name: '[debug] pront when triggered from main'
        if: ${{ inputs.debug && github.ref == 'refs/heads/main' }}
        run: echo "I was trigerred from main"
      - name: Greetings
        run: echo "Hello World"