name: 11 - Working with Inputs
on:
  push:
  workflow_dispatch:
    inputs:
      dry-run: 
        type: boolean
        default: false
        description: "Skip deployment and only print build output"
      target:
        type: environment
        description: "Which envvironment the workflow will target"
      tag:
        type: choice
        options:
          - v1
          - v2
          - v3
        description: "Release from which to build and deploy"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: echo "Building from tag <retrieve the value of tag input here>"
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: ${{ inputs.target }}
    steps:
      - name: Deploy
        if: ${{ !inputs.dry-run }}
        run: echo "Deploying to <retrieve the value of target input here>"